<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_knk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_knk"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"
            android:exported="false"/>
        <activity android:name=".ui.main.SecureAuthActivity"
            android:exported="false"/>
        <activity android:name=".ui.idcard.ChooseIdCardActivity"
            android:exported="false"/>
        <activity android:name=".ui.idcard.CreateAccountActivity"
            android:exported="false"/>
        <activity android:name=".ui.idcard.IdCardReadyActivity"
            android:exported="false"/>
        <activity android:name=".ui.idcard.IdCardRecognitionActivity"
            android:exported="false"/>
        <activity android:name=".ui.idcard.IdCardResultActivity"
            android:exported="false"/>
        <activity android:name=".ui.check.CheckNameActivity"
            android:exported="true"/>
        <activity android:name=".ui.check.CheckResidentNumberActivity"
            android:exported="true"/>
        <activity android:name=".ui.check.CheckDriverActivity"
            android:exported="true"/>
        <activity android:name=".ui.check.CheckIssueDateActivity"
            android:exported="true"/>
    </application>

</manifest>